body {
  background-color:bisque;
}

.todolist {
  background-color: rgb(185, 112, 185);
}

.trash {
  background-color: rgb(199, 58, 58);
}

.check {
  background-color: rgb(40, 145, 40);
}

.edit {
  background-color: rgb(98, 98, 219);
}

.back {
  background-color: rgb(199, 58, 58);
}

.editpage {
  background-color: rgb(98, 98, 219);
}

.container {
  padding-top: 5rem;
  padding-bottom: 1rem;
}

.text-container {
  width: 200px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}